#max-min-amount {
    display: none;
    transition: 0.5s;
}

#wrong-data {
    display: none;
    transition: 0.5s;
}

#success-order {
    display: none;
    transition: 0.5s;
}

#confirm-order {
    display: none;
    transition: 0.5s;
}

#reload-button {
    display: none;
    transition: 0.5s;
    text-decoration: none;
}

#reload-button {
    display: none;
    transition: 0.5s;
    text-decoration: none;
}

#summery-card {
    display: none;

}

.container{
    margin-bottom: 50px;
}

.form-control{
    margin-right: 10px;
    
    }
    
    .temperature-index{
      margin: auto 20px;
      font-weight: bold;
    }
    
#weather-icon{
     margin: auto 10px;
   }

#set-day{
    font-weight: lighter;
}

#set-offer-first{

    font-weight: bold;

}

#set-offer-value {
    font-weight: lighter;
    text-transform: uppercase;
    padding: 10px;
    margin: auto 10px;
    font-size: 15px;
    background-color: #F4A460;

}
